body {
    font-family: "Poppins", serif;
}

#home-header {
    width: 80%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    margin: 10px auto 10px;
    align-items: center;
}

.home-btn {
    background-color: #000000;
    color: #fff;
    height: 64px;
    width: 130px;
    border-radius: 20px 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.home-btn + .home-btn {
    margin-left: 20px;
}

#signUp {
    background-color: #EA6D27;
}

.home-logo {
    align-self: flex-start;
}

.home-contentGroup {
    height: 950px;
    align-content: center;
    justify-items: unset;
}

.home-contentGroup1 {
    height: 990px;
    align-content: unset;
    justify-items: center;
}

.home-contentGroup2 {
    justify-items: right;
    /* display: flex; */
}

.home-contentGroupGray {
    background-color: rgb(73, 73, 73, 0.05);
}

.home-contentImage {
    width: fit-content;
}

.home-contentGroup__text1 {
    font-family: 'David Libre', sans-serif;
    font-size: 60px;
    font-weight: bold;
}

.home-contentTitle {
   margin-top: 10px;
   margin-bottom: 10px;
}

.home-contentDescription0 {
    width: 80%;
    font-size: 25px;
    text-align: center;
    margin-top: 30px;
}

.home-contentGroupContent {
    width: 700px;
    height: 650px;
    border: solid #000000;
    align-content: center;
    padding-left: 100px;
    position: absolute;
}

.home-contentDescription1 {
    text-align: left;
    font-size: 20px;
    width:50%;
}

.home-contentDescription2 {
    text-align: right;
    font-size: 20px;
    width:50%;
}

#home-contentGroupContent_1 {
    top: calc(75px + 990px + (950px - 610px)/2);
    left: 5%;
}

#home-contentGroupContent_2 {
    top: calc(75px + 990px + 950px + (950px - 610px)/2);
    right: 5%;
    text-align: right;
    justify-items: right;
}


