body {
    font-family: "Poppins", serif;
    font-size: 1rem;
}



.home-contentGroup {
    height: 950px;
    align-content: center;
    justify-items: unset;
}

.home-contentGroup1 {
    height: 990px;
    align-content: unset;
    justify-items: center;
}

.home-contentGroup2 {
    justify-items: right;
    /* display: flex; */
}

.home-contentGroupGray {
    background-color: rgb(73, 73, 73, 0.05);
}


.home-contentImage {
    width: fit-content;
}

.home-contentGroup__text1 {
    font-family: 'David Libre', sans-serif;
    font-size: 60px;
    font-weight: bold;
}

.home-contentTitle {
   margin-top: 10px;
   margin-bottom: 10px;
}

.home-contentDescription0 {
    width: 80%;
    font-size: 22px;
    text-align: center;
    margin-top: 30px;
}

.home-contentDescription1 {
    text-align: left;
    font-size: 20px;
    width:70%;
}

.home-contentDescription2 {
    text-align: right;
}

.home-contentGroupContent {
    width: 700px;
    height: 650px;
    border: solid #000000;
    align-content: center;
    padding: 0 100px;
    position: absolute;
}

#home-contentGroupContent_1 {
    top: calc(75px + 990px + (950px - 610px)/2);
    left: 5%;
}

#home-contentGroupContent_2 {
    top: calc(75px + 990px + 950px + (950px - 610px)/2);
    right: 5%;
    padding-left: 300px;
    padding-right: 0px;
}

#home-contentGroupContent_3 {
    top: calc(75px + 990px + 2*950px + (950px - 610px)/2);
    left: 5%;
}
