.flex {
    display: flex;
    justify-content: space-between;
  }

.sidebar {
    background-color: #1f2937;
    color: white;
}

.sidebar .nav-item {
    padding: 10px;
}

#sidebar {
    width: 425px;
    height: 44px;
    justify-self: center;
    align-items: center;
    font-size: 1.15rem;
}